<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="/" target="_blank">
            <strong>Core Shaarda Team</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://karankraina.github.io/learning/main.html">Learn Shaarda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vaakh?number=0" target="_blank">Lal Vaakhs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">E-Gallery</a>
                </li>

                <!-- <li class="nav-item">
            <a class="nav-link" href="https://mdbootstrap.com/education/bootstrap/" target="_blank">Free tutorials</a>
          </li> -->
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="https://www.facebook.com/shardapeetham" class="nav-link" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://twitter.com/coresharada" class="nav-link" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.youtube.com/channel/UCIyGDdIPfusRSU48sjccTrg" class="nav-link border border-light rounded"
                        target="_blank">
                        <i class="fa fa-youtube mr-2"></i>YouTube
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>
<!-- Navbar -->