<style>
	div.DTE_Inline input {
        border: none;
        background-color: transparent;
        padding: 0 !important;
        font-size: 90%;
    }
 
    div.DTE_Inline input:focus {
        outline: none;
        background-color: transparent;
    }
</style>

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>First name</th>
                <th>Last name</th>
                <th>Position</th>
                <th>Office</th>
                <th width="18%">Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
    </table>
<script>
	var editor; // use a global for the submit and return data rendering in the examples
 
$(document).ready(function() {
    editor = new $.fn.dataTable.Editor( {
        //ajax: "../php/staff.php",
        table: "#example",
		idScr: 'DT_RowId',
        fields: [ {
                label: "First name:",
                name: "first_name"
            }, {
                label: "Last name:",
                name: "last_name"
            }, {
                label: "Position:",
                name: "position"
            }, {
                label: "Office:",
                name: "office"
            }, {
                label: "Extension:",
                name: "extn"
            }, {
                label: "Start date:",
                name: "start_date",
                type: "datetime"
            }, {
                label: "Salary:",
                name: "salary"
            }
        ]
    } );
 
    var table = $('#example').DataTable( {
        dom: "Bfrtip",
       // ajax: "../php/staff.php",
	   data: [
	   {
		   DT_RowId:   "1",
		   first_name: 'abc',
		   last_name: 'def',
		   position: 'def',
		   office: 'def',
		   start_date: 'def',
		   salary: 'def',
	   },
	{
		DT_RowId:   "2",
		   first_name: 'abc',
		   last_name: 'def',
		   position: 'def',
		   office: 'def',
		   start_date: 'def',
		   salary: 'def',
	   },
	   {
		DT_RowId:   "2",
		   first_name: 'abc',
		   last_name: 'def',
		   position: 'def',
		   office: 'def',
		   start_date: 'def',
		   salary: 'def',
	   },
	   {
		DT_RowId:   "2",
		   first_name: 'abc',
		   last_name: 'def',
		   position: 'def',
		   office: 'def',
		   start_date: 'def',
		   salary: 'def',
	   },
	   {
		DT_RowId:   "2",
		   first_name: 'abc',
		   last_name: 'def',
		   position: 'def',
		   office: 'def',
		   start_date: 'def',
		   salary: 'def',
	   },
	   {
		DT_RowId:   "2",
		   first_name: 'abc',
		   last_name: 'def',
		   position: 'def',
		   office: 'def',
		   start_date: 'def',
		   salary: 'def',
	   },
	   {
		DT_RowId:   "2",
		   first_name: 'abc',
		   last_name: 'def',
		   position: 'def',
		   office: 'def',
		   start_date: 'def',
		   salary: 'def',
	   },
	   {
		DT_RowId:   "2",
		   first_name: 'abc',
		   last_name: 'def',
		   position: 'def',
		   office: 'def',
		   start_date: 'def',
		   salary: 'def',
	   }
	   ],
        columns: [
            {
                data: null,
                defaultContent: 'ABC',
                className: 'select-checkbox',
                orderable: false
            },
            { data: "first_name" },
            { data: "last_name" },
            { data: "position" },
            { data: "office" },
            { data: "start_date" },
            { data: "salary", render: $.fn.dataTable.render.number( ',', '.', 0, '$' ) }
        ],
        keys: {
            columns: ':not(:first-child)',
            editor:  editor
        },
        select: {
            style:    'os',
            selector: 'td:first-child',
            blurable: true
        },
        buttons: [
            { extend: "create", editor: editor },
            { extend: "edit",   editor: editor },
            { extend: "remove", editor: editor },
			{extend: "excel"}
        ]
    } );
} );
</script>



{{!-- <br>
<br><br>
<br><br>
<br>

<textarea name="query" id="query" cols="30" rows="10"></textarea>
<button type="submit" onclick="sendQ()">SEND</button>
<div id="result">

</div>

<script>
	function sendQ() {
		var quer = $('#query').val();
		console.log(quer)
		$.ajax({
			type: "POST",
			url: '/db',
			data: {
				'que': quer,
			},
			success: function (res) {
				console.log(res[0])
				if(res === 'success'){
alert('Request Sent')
				}
				
			},
			//dataType: 'string'
		});
	}
</script> --}}