<br>
<br><br>
<br><br>
<br>

<textarea name="query" id="query" cols="30" rows="10"></textarea>
<button type="submit" onclick="sendQ()">SEND</button>
<div id="result">

</div>

<script>
	function sendQ() {
		var quer = $('#query').val();
		console.log(quer)
		$.ajax({
			type: "POST",
			url: '/db',
			data: {
				'que': quer,
			},
			success: function (res) {
				console.log(typeof res)
				if(res === 'success'){
alert('Request Sent')
				}
				
			},
			//dataType: 'string'
		});
	}
</script>